body {
    font-family: Arial, sans-serif;
}

.container {
    width: 700px;
    margin: 40px auto;
}

.cv {
    display: flex;
}

.photo {
    background-color: #c0c0c0; 
    padding: 20px;
    width: 200px;
    text-align: center;
}

.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
}

.info {
    padding: 20px;
    flex: 1;
    background: linear-gradient(to right, #cfcfd1, #ffffff);
    color: black;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
}

h3::before {
    content: "➤ ";
    color: #000000;
    font-size: 18px;
}