body {
    font-family: Arial, sans-serif;
    background: #f3f4f6; 
}
.container {
    width: 800px;
    margin: 40px auto; 
    display: flex;
    background: #eeeded;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}
.sidebar {
    width: 250px;
    background: #c4c4c4; 
    color: white;
    padding: 25px;
    text-align: center;
}
.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
}
.main {
    padding: 25px;
    flex: 1;
}
h1 {
    margin-bottom: 10px;
    color: rgb(57, 73, 95);
}
h2 {
    margin-top: 20px;
    color: rgb(57, 73, 95);
    border-bottom: 2px solid #2563eb;
    padding-bottom: 5px;
}
p, li {
    margin: 6px 0;
    color: rgb(0, 0, 0);
}
h3 {
    margin-top: 15px;
    color: rgb(57, 73, 95);
}